.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.inner-left-container {
  height: 200px;
  position: relative;
  top: 30%;
  width: 100%;
  align-items: center;
}

.inner-left-heading {
  width: 60%;
  margin-left: 60px;
  text-align: left;
  font-size: 300%;
  font-weight: bold;
  color: antiquewhite;
}
.inner-left-description {
  width: 60%;
  margin-left: 60px;
  text-align: left;
  font-size: 16px;

  color: gray;
}

.form {
  margin-left: 20px;
}
.form-box {
  display: flex;

  flex-direction: column;
  padding: 32px;
  position: relative;
}

.form-heading {
  font-size: 32px;
  text-align: left;
  font-weight: bold;
}
.signup-link {
  text-align: left;
  text-decoration: none;
}
.inner-form {
  margin-top: 30px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.inputs-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
  width: 100%;
}
.inputfield {
  height: 40px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  border: 0.5px solid gray;
  padding: 5px;
}
.inputfield:active {
  border: none;
}

.form-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-bottom-right {
  color: blue;
}

.form-button {
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
.submit-button {
  color: white;
  width: 90%;
  height: 50px;
  font-size: 18px;
  border-radius: 30px;
  background-color: rgb(55, 60, 200);
  border: none;
}

.bottom-text {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
}
.line-one {
  height: 1px;
  width: 100px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(182, 174, 174);
  position: relative;
  top: 3px;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
}
.media-card {
  height: 30px;
  padding-top: 7px;
  width: 80px;
  border-radius: 20px;
  border: 1px solid gray;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
